# vi: set ft=ini :

# This file helps unify code style.
#
# Plugins are available for
# notepad++, emacs, vim, gedit,
# textmate, visual studio, and more.
#
# See https://editorconfig.org for details.

# This file is at the root of the git repo.
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true

[*.json]
indent_size = 2
insert_final_newline = false

[*.{yml,yaml}]
indent_size = 2
